@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.hidden {
  display: none;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  .container {
    background-color: var(--dark-grayish-blue);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 2rem 1.5rem 0 1.5rem;
    .header-section {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      transition: all 0.2s ease-out;
      span:nth-child(1) {
        color: var(--neon-green);
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
    .body-section {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      color: var(--light-cyan);
    }
    .divider {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    .footer-section {
      background-color: var(--neon-green);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      transform: translateY(1.7rem);
      cursor: pointer;
      transition: 0.5s ease-in-out;
    }
    .footer-section:hover {
      box-shadow: 0 0 25px 5px var(--neon-green);
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    .container {
      width: 35%;
    }
  }
}
